<form
  class="filter-form"
  *ngIf="filterService.vm$ | async as vm"
  [formGroup]="form"
>
  <div class="row">
    <div class="form-control">
      <app-custom-dropdown
        formControlName="sellingType"
        label="Selling type"
        [options]="vm.sellingType"
      ></app-custom-dropdown>
    </div>
    <div class="form-control">
      <app-custom-dropdown
        formControlName="brand"
        label="Brand"
        [options]="vm.brand"
      ></app-custom-dropdown>
    </div>
    <div class="form-control">
      <app-custom-dropdown
        formControlName="model"
        label="Model"
        [options]="vm.model"
      ></app-custom-dropdown>
    </div>
    <div class="form-control">
      <app-custom-dropdown
        formControlName="category"
        label="Category"
        [options]="vm.category"
      ></app-custom-dropdown>
    </div>
  </div>
  <div class="row second">
    <div class="row__nested--first">
      <div class="form-control union">
        <app-custom-dropdown 
        label="Year - from"
        [options]="vm.years"
        formControlName="yearFrom"
        ></app-custom-dropdown>
        <app-custom-dropdown 
        label="Year - to"
        [options]="vm.years"
        formControlName="yearTo"
        ></app-custom-dropdown>
      </div>
      <div class="form-control union">
        <app-custom-input
        formControlName="priceFrom"
        placeholder="Price - from"
        ></app-custom-input>
        <app-custom-input
        formControlName="priceTo"
        placeholder="Price - to"
        ></app-custom-input>
      </div>
      <div class="form-control union">
        <app-custom-dropdown 
        label="Engine - from"
        [options]="vm.engineSizes"
        formControlName="engineSizeFrom"
        ></app-custom-dropdown>
        <app-custom-dropdown 
        label="Engine - to"
        [options]="vm.engineSizes"
        formControlName="engineSizeTo"
        ></app-custom-dropdown>
      </div>
    </div>
    <div class="row__nested--second">
      <div class="form-control">
        <app-custom-dropdown
          formControlName="transmission"
          label="Transmission"
          [options]="vm.transmission"
        ></app-custom-dropdown>
      </div>
      <div class="form-control">
        <app-custom-dropdown
          formControlName="fuel"
          label="Fuel"
          [options]="vm.fuelType"
        ></app-custom-dropdown>
      </div>
      <div class="form-control">
        <app-custom-dropdown
          formControlName="upload"
          label="Upload"
          [options]="vm.uploadDate"
        ></app-custom-dropdown>
      </div>
    </div>
    <div class="search">
      <app-custom-input
        placeholder="Enter VIN, ID, Phone or any search term..."
        formControlName="search"
      >
      </app-custom-input>
    </div>
  </div>
  <div class="row">
    <div class="form-control">
      <app-custom-dropdown
        formControlName="custom"
        label="Custom"
        [options]="vm.custom"
      ></app-custom-dropdown>
    </div>
    <div class="form-control">
      <app-custom-dropdown
        formControlName="wheel"
        label="Wheel"
        [options]="vm.wheel"
      ></app-custom-dropdown>
    </div>
    <div class="form-control">
      <app-custom-dropdown
        formControlName="location"
        label="Location"
        [options]="vm.location"
      ></app-custom-dropdown>
    </div>
    <div class="form-control">
      <app-custom-button icon="fas fa-search" (clicked)="onSubmit()">
        <p class="searchTerm">Search</p>
      </app-custom-button>
    </div>
  </div>
  <!-- <input type="submit" value="submit" /> -->
</form>
