<form
  class="filter-form"
  *ngIf="filterService.state$ | async as vm"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="row">
    <div class="form-control">
      <app-custom-dropdown
        formControlName="sellingType"
        label="Selling type"
        [options]="vm[0]"
      ></app-custom-dropdown>
    </div>
    <div class="form-control">
      <app-custom-dropdown
        formControlName="brand"
        label="Brand"
        [options]="vm[1]"
      ></app-custom-dropdown>
    </div>
    <div class="form-control">
      <app-custom-dropdown
        formControlName="model"
        label="Model"
        [options]="vm[2]"
      ></app-custom-dropdown>
    </div>
    <div class="form-control">
      <app-custom-dropdown
        formControlName="category"
        label="Category"
        [options]="vm[3]"
      ></app-custom-dropdown>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <!-- <input type="submit" value="submit" /> -->
</form>
